.header {
  position: sticky;
  top: 0;
  height: 88px;
  border-bottom: 1px solid rgb(202 202 202 / 50%);
  background: var(--chakra-colors-white);
  z-index: 10;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 19px 0;
}

.logo-container {
  padding-right: 40px;
  margin-right: 30px;
  border-right: 1px solid var(--chakra-colors-gray-500);
}

.logo-container img {
  cursor: pointer;
}

.lang-select-wrapper {
  display: inline-block;
  width: auto;
  cursor: pointer;
}

.first-section {
  display: flex;
  align-items: center;
}

.nav-section {
  display: flex;
  align-items: center;
  column-gap: 52px;
}
