@import 'https://fonts.googleapis.com/css?family=Barlow&display=swap';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Barlow, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-pagination {
  display: flex;
  height: 10px;
  margin: 26px auto 0;
}

.swiper-pagination-bullet {
  padding: 3px;
}

.swiper-pagination-bullet::after {
  cursor: pointer;
  content: '';
  display: block;
  width: 8px;
  border-radius: 3px;
  height: 6px;
  background-color: var(--chakra-colors-red-300);
  transition: 0.3s;
}

.swiper-pagination-bullet-active::after {
  background-color: var(--chakra-colors-red-600);
  width: 31px;
}

.swiper-pagination-white > .swiper-pagination-bullet-active::after {
  background-color: var(--chakra-colors-white);
}

.swiper-pagination-white > .swiper-pagination-bullet::after {
  background-color: var(--chakra-colors-white);
}
