.container {
  display: flex;
  background-color: var(--chakra-colors-white);
  box-shadow: 0 24px 100px rgb(0 0 0 / 5%);
  padding: 36px;
  border-radius: 12px;
}

.counters-section {
  display: flex;
  border: 1px solid var(--chakra-colors-gray-300);
  border-radius: 10px;
}

.counter-item {
  padding: 15px 20px;
  border-right: 1px solid var(--chakra-colors-gray-300);
}

.counter-item:last-of-type {
  border-right: none;
}
