.container {
  padding-top: 77px;
  background-color: var(--chakra-colors-red-900);
  color: var(--chakra-colors-white);
  font-size: 18px;
  font-weight: 600;
}

.vcard-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.check-map {
  padding-left: 52px;
  font-size: 16px;
}

.content {
  padding-bottom: 55px;
  border-bottom: 1px solid rgb(202 202 202 / 50%);
}

.copyrights-section {
  display: flex;
  justify-content: space-between;
  padding: 33px 0;
  font-size: 16px;
}
